.content-wrapper {
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.forms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.login-container,
.register-container {
    height: 400px;
    /* Đặt chiều cao cố định cho cả hai form */
    overflow: auto;
    /* Cho phép cuộn nếu nội dung vượt quá chiều cao cố định */
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content input[type="text"],
.main-content input[type="email"],
.main-content input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #080808;
    border-radius: 5px;
}

.main-content input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

button {
    background-color: #f1c40f;
    color: #fff;
    border: none;
    margin-left: 23px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}